<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<link href="resource/js/fullcalendar-2.1.1/fullcalendar.min.css" rel="stylesheet"></link>
		<script src='resource/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
		<script src="resource/js/fullcalendar-2.1.1/fullcalendar.min.js"></script>
		<script src="resource/js/data.js"></script>
		<script src="resource/js/controller.js"></script>
		<script src="resource/js/calendar_holder.js"></script>
		<link href="resource/css/style.css" rel="stylesheet"></link>
	</head>
	<body>
		<div ng-app="ui.date">
		  <div id="todoapp" ng-controller="TodoCtrl">
		    <header>
		    	<div id="errors"></div>
		        <input id="new-todo" type="text" ng-model="todoText" placeholder="What needs to be done?" />
		        <input id="new-todo-date" ui-date type="text" ng-model="todoDate" placeholder="Current Date" />
		    	<input id="new-todo-button" type="button" ng-click="showScope()" value="Add">
		    	<div class="clear">
		    		<div class="todo-count">{{remaining()}} of {{todos.length}} remaining</div>
		          	<a id="clear-completed" ng-click="clear()" ng-show="hasDone()">
		              Clear <span >{{(todos.length - remaining())}} {{itemText()}}</span>.
		          	</a>
		    	</div>
		    </header>
		
		    <section id="main" style="display: block;">
		        <div ng-show="isTodo()">
		          <input id="toggle-all" type="checkbox" ng-model="markAll" ng-click="toggleMarkAll()"/>
		          <label for="toggle-all">Mark all as complete</label>
		        </div>
		        
		        <ul id="todo-list" class="unstyled" ng-repeat="todo in todos | orderBy:'date'">
		          <li ng-dblclick="toggleEditMode()">
		            <div class="view" ng-keyup="editTodo()">
		              <input type="checkbox" ng-model="todo.done" ng-click="updateStorage()"/>
		              <span class="done-{{todo.done}}" >{{todo.text}} - {{todo.date}}</span>
		            </div>
		            <input class="edit" type="text" ng-model="todo.text"
		              ng-keyup="editOnEnter(todo)"/>
		           	<input class="edit" type="text" ng-model="todo.date"
		              ng-keyup="editOnEnter(todo)"/>
		          </li>
		        </ul>
		        <h3>Completed Work</h3>
		        <ul id="todo-finished" class="unstyled" ng-repeat="done in dones | orderBy:'date'">
		        	<li>{{done.text}} - {{done.date}}  <a href="" ng-click="deleteItem(done)">Delete</a></li>
		        </ul>
		    </section>
		    
		    <footer style="display: block;">
		        <div class="todo-count">{{remaining()}} of {{todos.length}} remaining</div>
		          <a id="clear-completed" ng-click="clear()" ng-show="hasDone()">
		              Clear <span >{{(todos.length - remaining())}} {{itemText()}}</span>.
		          </a>
		    </footer>
		    
		    <section id="calendar">
		    	<div id="calendar_holder"></div>
		    </section>
		          
		  </div>
		</div>
	</body>
</html>